h1 {
    text-align: center;
}

.desc {
    text-align: center;
    margin: 3rem 2rem 1rem;
}

#mainsub {
    margin: 1rem 0 0;
}

.card {
    padding: 0 2rem 3rem;
    margin: 0 0 4rem;
}

.scroll {
    max-height: 50rem;
    overflow-y: auto;
}

@media (min-width: 992px) {

}



