{% extends 'base.html' %}

{% block head %}
<title>WritingGPT</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="display-3">🤖 WritingGPT: The A.I. Generated Writing Team 🤖</h1>

    <p class="desc">WritingGPT is a powerful web application that harnesses OpenAI's GPT-3.5 Turbo to generate, edit, and optimize articles and blog posts. Choose from specialized writing teams tailored to various topics, such as tech 🧪, fashion 👗, or sports ⚽. From drafting to final edits, including SEO considerations and image research, WritingGPT provides a comprehensive solution for content creation.</p>

    <form action="/draft" method="POST">

        <div class="form-group">
            <label for="posttopic">Topic</label>
            <input type="text" class="form-control" id="posttopic" aria-describedby="topicHelp">
            <small id="topicHelp" class="form-text text-muted">Input the topic of the blog post/article above.</small>
        </div>

        <div class="form-group">
            <label for="postkeywords">Keywords</label>
            <input type="text" class="form-control" id="postkeywords" aria-describedby="keyHelp">
            <small id="keyHelp" class="form-text text-muted">Input the keywords to influence the post, separated by commas.</small>
        </div>

        <div class="row typeRow">

            <div class="form-group col">
                <label for="postkeywords">Copywriter Type</label>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="generalType" value="general" checked>
                    <label class="form-check-label" for="generalType">
                        ✍️ General (Versatile)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="techType" value="tech">
                    <label class="form-check-label" for="techType">
                        🖥️ Tech (Perfect for tech-savvy topics)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="gamingType" value="gaming">
                    <label class="form-check-label" for="gamingType">
                        🎮 Gaming (For gaming culture)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="musicType" value="music">
                    <label class="form-check-label" for="musicType">
                        🎵 Music (Artists, genres, and more)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="entertainmentType" value="entertainment">
                    <label class="form-check-label" for="entertainmentType">
                        🎥 Entertainment (Movies, TV, pop culture)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="fashionType" value="fashion">
                    <label class="form-check-label" for="fashionType">
                        👠 Fashion (High fashion to everyday clothing)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="foodType" value="food">
                    <label class="form-check-label" for="foodType">
                        🍽️ Food (Great for recipes, restaurants)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="sportsType" value="sports">
                    <label class="form-check-label" for="sportsType">
                        🏈 Sports (American and International sports)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="travelType" value="travel">
                    <label class="form-check-label" for="travelType">
                        🌎 Travel (Your researcher for destinations and ideas)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="healthType" value="health">
                    <label class="form-check-label" for="healthType">
                        ⚕️💪 Health and Fitness (Workouts and eating best practices)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="writerTypeRadio" id="photoType" value="photo">
                    <label class="form-check-label" for="photoType">
                        📷 Photography (A good picture is worth a thousand blog posts)
                    </label>
                </div>

            </div>

            <div class="form-group col">

                <label for="postkeywords">Editor Type</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="generalType" value="general" checked>
                    <label class="form-check-label" for="generalType">
                        ✍️ General (Versatile)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="techType" value="tech">
                    <label class="form-check-label" for="techType">
                        🖥️ Tech (Perfect for tech-savvy topics)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="gamingType" value="gaming">
                    <label class="form-check-label" for="gamingType">
                        🎮 Gaming (For gaming culture)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="musicType" value="music">
                    <label class="form-check-label" for="musicType">
                        🎵 Music (Artists, genres, and more)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="entertainmentType" value="entertainment">
                    <label class="form-check-label" for="entertainmentType">
                        🎥 Entertainment (Movies, TV, pop culture)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="fashionType" value="fashion">
                    <label class="form-check-label" for="fashionType">
                        👠 Fashion (High fashion to everyday clothing)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="foodType" value="food">
                    <label class="form-check-label" for="foodType">
                        🍽️ Food (Great for recipes, restaurants)
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="sportsType" value="sports">
                    <label class="form-check-label" for="sportsType">
                        🏈 Sports (American and International sports)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="travelType" value="travel">
                    <label class="form-check-label" for="travelType">
                        🌎 Travel (Your researcher for destinations and ideas)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="healthType" value="health">
                    <label class="form-check-label" for="healthType">
                        ⚕️💪 Health and Fitness (Workouts and eating best practices)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="editorTypeRadio" id="photoType" value="photo">
                    <label class="form-check-label" for="photoType">
                        📷 Photography (A good picture is worth a thousand blog posts)
                    </label>
                </div>

            </div>

        </div>

        <button type="submit" class="btn btn-primary" id="mainsub">Submit</button>

    </form>

    <div class="row">
        <div class="col d-flex justify-content-around">
            <div class="card" style="width: 40rem">
                <img src="{{url_for('static', filename='img/draft.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Draft Post</h5>
                    <p class="card-text" id='output'>The draft will be inserted here after hitting "Submit"</p>
                </div>
            </div>
        </div>
    
        <div class="col d-flex justify-content-around">
            <div class="card" style="width: 40rem">
                <img src="{{url_for('static', filename='img/editor.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Editor Notes</h5>
                    <p class="card-text" id='editoutput'>The Editor's notes will be inserted here after the draft is generated.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">

        <div class="col d-flex justify-content-around">
            <div class="card" style="width: 40rem">
                <img src="{{url_for('static', filename='img/seo.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">SEO Notes</h5>
                    <p class="card-text" id='seooutput'>The SEO Expert's notes will be inserted here after the Editor's notes are completed.</p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-around">
            <div class="card" style="width: 40rem">
                <img src="{{url_for('static', filename='img/photo.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Photo Suggestions</h5>
                    <p class="card-text" id='photooutput'>The Photo Researcher's suggestions will be appear here after the SEO Expert's guidance.</p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="row">

        <div class="col d-flex justify-content-around">
            <div class="card" style="width: 40rem">
                <img src="{{url_for('static', filename='img/final.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Final Post</h5>
                    <p class="card-text" id='finaloutput'>The final blog post will be here after all information has been considered.</p>
                </div>
            </div>
        </div>

    </div>

</div>



{% endblock %}